/*
Error: Undefined variable: "$dark".
        on line 8 of scss/style.scss

3: $bodoni: "bodoni-urw",serif;
4: 
5: body {
6:   // transform: rotate(45deg);
7:   font-family: $caslon;
8:   color: $dark;
9:   display: inline-block;
10:   background-color: $light;
11:   -moz-osx-font-smoothing: grayscale;
12:   -webkit-font-smoothing: antialiased;
13:   -moz-osx-font-smoothing: grayscale;

Backtrace:
scss/style.scss:8
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/script/tree/node.rb:50:in `perform'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:395:in `visit_prop'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `block (2 levels) in visit_rule'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `map'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:431:in `block in visit_rule'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:429:in `visit_rule'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:414:in `run'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Users/wenzhang/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.4.21/bin/sass:13:in `<top (required)>'
/Users/wenzhang/.rbenv/versions/2.1.1/bin/sass:23:in `load'
/Users/wenzhang/.rbenv/versions/2.1.1/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$dark\".\A         on line 8 of scss/style.scss\A \A 3: $bodoni: \"bodoni-urw\",serif;\A 4: \A 5: body {\A 6:   // transform: rotate(45deg);\A 7:   font-family: $caslon;\A 8:   color: $dark;\A 9:   display: inline-block;\A 10:   background-color: $light;\A 11:   -moz-osx-font-smoothing: grayscale;\A 12:   -webkit-font-smoothing: antialiased;\A 13:   -moz-osx-font-smoothing: grayscale;"; }
