$caslon: "adobe-caslon-pro",serif;
$acumin-wide: "acumin-pro-wide",sans-serif;
$acumin: "acumin-pro",sans-serif;
$bodoni: "bodoni-urw",serif;

body {
  // transform: rotate(45deg);
  font-family: $caslon;
  color: $dark;
  display: inline-block;
  background-color: $light;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "dlig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "dlig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "dlig", "calt";
  font-feature-settings: "kern", "liga", "clig", "dlig", "calt";
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.doubleQuoteLeft.icon {
  position: relative;
  width: 34px;
  height: 22px;
  &:before, 
  &:after {    
    content: '';
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border: solid 2px $dark;
    border-radius: 50%;
    top: 6px;
  }
  &:after {
    left: 18px;
  }
  i {
    &:before,
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 24px;
      height: 24px;
      border-left: solid 2px $dark;
      border-top: solid 2px transparent;
      border-right: solid 2px transparent;
      border-bottom: solid 2px transparent;
      border-radius: 50%;
      transform: rotate(45deg);
      top: 0;
    }
    &:after {
      left: 18px;
    }
  }
}
header {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 40px;
  background-color: rgba($dark, 0.1);
  label {
    display: block;
    line-height: 40px;
    font-family: $acumin-wide;
    font-weight: 800;
    font-size: 16px;
    color: $dark;
    letter-spacing: -0.8px;
  }
  .search {
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
    input {
      margin-left: 10px;
      border: none;
      background-color: transparent;
      line-height: 40px;
      font-weight: 500;
      font-size: 16px;
      color: $dark;
      padding: 0;
      font-family: $acumin-wide;
      letter-spacing: -0.4px;
      width: 350px;
      outline: none;
    }
  }
  .color {
    float: right;
    margin-left: 40px; 
    box-sizing: border-box;
    label {
      float: left;
      margin-right: 20px;
    }
    .swatch {
      float: left;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      z-index: 999;
      border-style: solid;
      border-width: 14px;
      transition: border-width 0.2s ease;
      &:hover,
      &.selected {
        cursor: pointer;
        border-width: 10px;
      }
      &#swatch1 {
        border-color: #FCF7E8;
        background-color: #696D6F;
      }
      &#swatch2 {
        border-color: #384548;
        background-color: #B6B8BA;
      }
      &#swatch3 {
        border-color: #F7F0DD;
        background-color: #402E33;
      }
      &#swatch4 {
        border-color: #323235;
        background-color: #9FB7C1;
      }
      &#swatch5 {
        border-color: #F7C3C2;
        background-color: #383434;
      }
      &#swatch6 {
        border-color: #FDAE98;
        background-color: #382E28;
      }
    }
  }
  .zoom{
    float: right;
    padding-left: 20px;
    box-sizing: border-box;
    input {
      margin-left: 20px;
    }
    input {
      position: relative;
      top: 2px;
    }
    span {
      display: inline-block;
      width: 40px;
      font-weight: 500;
      letter-spacing: -0.4px;
    }
  }
}
nav {
  margin-top: 100px;
  margin-left: 280px;
  a.logo {
    font-family: $acumin-wide;
    font-weight: 800;
    font-size: 24px;
    color: $dark;
    letter-spacing: -1px;
    width: 170px;
    text-align: right;
    display: inline-block;
  }
  ul {
    display: inline-block;
    position: relative;
    margin-left: 132px;
    top: 4px;
    li {
      float: left;
      margin-right: 43px;
      position: relative;
      text-transform: uppercase;
      font-family: $acumin-wide;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: $dark;
      letter-spacing: -0.4px;
      font-variant-numeric: tabular-nums;
      -moz-font-feature-settings: "tnum";
      -webkit-font-feature-settings: "tnum";
      font-feature-settings: "tnum";
      &.follow {
        margin-left: -3px;
      }
      a, span {
        color: $dark;
        display: block;
      }
      a > strong {
        text-transform: none;
      }
      span {
        cursor: default;
      }
      &:hover ul {
        display: block;
      }
      ul {
        display: none;
        position: absolute;
        z-index: 9;
        left: -12px;
        top: 20px;
        margin-left: 0;
        padding-bottom: 2px;
        padding-left: 12px;
        padding-top: 8px;
        background-color: $light;
        li {
          float: none;
          height: 24px;
          word-wrap: none;
          white-space: nowrap;
        }
      }
    }
  }
}
.day {
  margin-top: 80px;
  padding-right: 100px;
  padding-left: 100px;
  white-space: nowrap;
}

@-moz-document url-prefix() {
    .intro .date.weekend {
      color: $light !important;
      text-shadow:
        -1px -1px 0 $dark,  
        1px -1px 0 $dark,
        -1px 1px 0 $dark,
        1px 1px 0 $dark;
    }
}
.intro {
  width: 350px;
  padding-top: 7px;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  .month {
    text-transform: uppercase;
    float: right;
    font-family: $acumin-wide;
    font-weight: 800;
    font-size: 21px;
    color: $dark;
    letter-spacing: -1px;
  }
  .date {
    clear: both;
    float: right;
    font-family: $bodoni;
    font-weight: 800;
    font-size: 82px;
    color: $dark;
    letter-spacing: -3px;
    line-height: 86px;
    margin-right: -2px;
    margin-bottom: 20px;
    &.weekend {
      color: transparent;
      -webkit-text-stroke: 1px $dark;
    }
  }
  h4 {
    clear: both;
    font-family: $acumin-wide;
    font-weight: 800;
    font-size: 27px;
    letter-spacing: -0.8px;
    line-height: 34px;
    text-align: right;
    margin-bottom: 8px;
    a {
      color: $dark;
    }
  }
  p {
    clear: both;
    font-family: $acumin-wide;
    font-weight: 500;
    font-size: 21px;
    color: $dark;
    letter-spacing: -0.7px;
    line-height: 28px;
    text-align: right;
    margin-bottom: 40px;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "alt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
    .small-caps {
      font-size: 0.73em;
      font-weight: 600;
      letter-spacing: 0.06em;
    }
  }
  .pagination {
    a {
      display: block;
      text-align: right;
      font-family: $acumin-wide;
      font-weight: 800;
      font-size: 21px;
      color: $dark;
      letter-spacing: -1px;
      line-height: 22px;
      margin-bottom: 15px;
      span {
        margin-top: 5px;
        font-family: $caslon;
        font-weight: 400;
        letter-spacing: 0px;
        display: block;
      }
    } 
  }
}
.level {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  margin-left: 120px;
  .link {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    width: 500px;
    border-radius: 4px;
    &.hover {
      background-color: rgba($dark, 0.09);
    }
  }
  .research {
    font-family: $caslon;
    color: $dark;
    margin-bottom: 40px;
    padding-top: 10px;
    h1 {
      margin-bottom: 6px;
    }
    h1 a {
      font-weight: 700;
      line-height: 48px;
      color: $dark;
      font-size: 28px;
      line-height: 34px;
    }
    &.em  {
      padding-top: 13px;
      h1 {
        margin-bottom: 12px;
      }
      h1 a{
        font-size: 44px;
        line-height: 48px;
      }
    }
    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      -moz-font-feature-settings: "kern", "liga", "clig", "calt";
      -ms-font-feature-settings: "kern", "liga", "clig", "alt";
      -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
      font-feature-settings: "kern", "liga", "clig", "calt";
      .small-caps {
        font-size: 0.6em;
        font-weight: 700;
        letter-spacing: 0.09em;
      }
    }
  }
  .tech {
    font-family: $acumin;
    color: $dark;
    margin-bottom: 40px;
    padding-top: 2px;
    h1 {
      margin-bottom: 6px;
    }
    h1 a {
      vertical-align: top;
      font-weight: 600;
      line-height: 48px;
      color: $dark;
      font-size: 27px;
      line-height: 34px;
      letter-spacing: -0.1px;
    }
    &.em {
      padding-top: 0;
      h1 {
        margin-bottom: 12px;
      }
      h1 a{
        font-size: 42px;
        line-height: 48px;
        letter-spacing: -0.2px;
      }
    }
    p {
      font-weight: 300;
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 0.1px;
      -moz-font-feature-settings: "kern", "liga", "clig", "calt";
      -ms-font-feature-settings: "kern", "liga", "clig", "alt";
      -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
      font-feature-settings: "kern", "liga", "clig", "calt";
      .small-caps {
        font-size: 0.73em;
        font-weight: 400;
        letter-spacing: 0.08em;
      }
    }
  }
  .quote {
    padding-top: 10px;
    margin-bottom: 40px;
    figure {
      margin-top: 20px;
      font-weight: 600;
      font-style: italic;
      font-size: 28px;
      color: $dark;
      letter-spacing: 0px;
      line-height: 34px;
      br {
        line-height: 42px;
      }
      figcaption {
        text-align: right;
        margin-top: 18px;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        a {
          color: $dark;
        }
        cite {
          font-style: normal;
        }
      }
    }
  }
  .research, .tech, .quote {
    position: relative;
    .number {   
      // font-variant-numeric: tabular-nums;
      // -moz-font-feature-settings: "tnum";
      // -webkit-font-feature-settings: "tnum";
      // font-feature-settings: "tnum";
      text-align: right;
      width: 100px;
      position: absolute;
      left: -115px;
      top: 7px;
      font-family: $acumin-wide;
      font-weight: 800;
      font-size: 20px;
      color: $dark;
      letter-spacing: -1px;
    }
    .category {
      position: absolute;
      left: -13px;
      top: 34px;
      font-family: $acumin-wide;
      font-weight: 800;
      font-size: 14px;
      color: $dark;
      letter-spacing: -0.4px;
      text-transform: uppercase;
      transform: rotate(90deg);
      transform-origin: left top;
    }
  }
}
@import 'mobile';