<!DOCTYPE html>
<html ng-app="researchApp" ng-controller="MainCtrl" >

<head>
    <meta charset="UTF-8">
    <title>100 Days of Research -- Wenting Zhang's 100 Day Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" ng-href="favicon{{swatch}}.png">
    <script src="https://use.typekit.net/sei2lyk.js"></script>
    <script>
    try {
        Typekit.load({
            async: true
        });
    } catch (e) {}
    </script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/typeset.css">
    <link rel="stylesheet" ng-href="css/style{{swatch}}.css">
</head>

<body ng-dblclick="switchZoom()">
    <header>
        <label class="search">SEARCH:
            <input required type="text" ng-model="searchText" placeholder="Start typing…">
        </label>
        <div class="color">
            <label>COLOR</label>
            <div class="swatch" id="swatch1" ng-click="updateSwatch(1)" ng-class="{'selected': swatch==1}"></div>
            <div class="swatch" id="swatch2" ng-click="updateSwatch(2)" ng-class="{'selected': swatch==2}"></div>
            <div class="swatch" id="swatch3" ng-click="updateSwatch(3)" ng-class="{'selected': swatch==3}"></div>
            <div class="swatch" id="swatch4" ng-click="updateSwatch(4)" ng-class="{'selected': swatch==4}"></div>
            <div class="swatch" id="swatch5" ng-click="updateSwatch(5)" ng-class="{'selected': swatch==5}"></div>
            <div class="swatch" id="swatch6" ng-click="updateSwatch(6)" ng-class="{'selected': swatch==6}"></div>
        </div>
        <label class="zoom">ZOOM
            <input type="range" value="1" min="0.5" max="1" step="0.02" ng-model="zoom" ng-change="updateZoom()"> <span>{{zoom}}</span>
        </label>
    </header>
    <style type="text/css">
        @-moz-document url-prefix() {
            .main {
                zoom: {{zoom}};
                -ms-zoom: {{zoom}};
                -webkit-zoom: {{zoom}};
                -moz-transform: scale({{zoom}});
                -moz-transform-origin: left top;
            }
        }
    </style>
    <div ng-view class="main" style="zoom:{{zoom}}"></div>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-cookies.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-route.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src="js/typeset.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
