<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>100 Days of Research</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.typekit.net/sei2lyk.js"></script>
    <script>
    try {
        Typekit.load({
            async: true
        });
    } catch (e) {}
    </script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="researchApp" ng-controller="MainCtrl" ng-dblclick="switchZoom()">
    <header>
        <label class="search">SEARCH:
            <input type="text" ng-model="searchText" placeholder="Start typing…">
        </label><!-- 
        <div class="color">
            <label>COLOR</label>
            <div class="swatch" id="swatch1"></div>
            <div class="swatch" id="swatch2"></div>
            <div class="swatch" id="swatch3"></div>
            <div class="swatch" id="swatch4"></div>
        </div> -->
        <label class="zoom">ZOOM
            <input type="range" value="1" min="0.5" max="1" step="0.02" ng-model="zoom" ng-change="updateZoom()"> <span>{{zoom}}</span>
        </label>
    </header>
    <div ng-view style="zoom:{{zoom}}"></div>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-cookies.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-route.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src="js/app.js"></script>
</body>

</html>
