<nav>
    <a href="#/" class="logo">100 DAYS OF RESEARCH</a>
    <ul>
        <li><a href="#/">DAYS</a>
            <ul>
                <li ng-repeat="dayData in data"><a ng-href="#/day/{{dayData.number}}">DAY {{dayData.number}}, {{dayData.month}} {{dayData.date}}: <strong>{{dayData.title}}</strong></a></li>
            </ul>
        </li>
        <li><a href="https://medium.com/@wenting_zhang/about-100-days-of-research-a80f4f09b57c#.hgan8cyke" target="_blank">ABOUT</a></li>
        <li><a href="https://medium.com/@wenting_zhang/how-to-create-your-own-8b639bb32813#.908y5xu2y" target="_blank">CREATE YOUR OWN</a></li>
        <li><a href="http://eepurl.com/b0zUkH" target="_blank">SUBSCRIBE</a></li>
        <li><a href="https://twitter.com/home?status=http%3A//designresearch.space/%20by%20%40DesignJokes" target="_blank">SHARE</a>
            <ul>
                <li><a href="https://twitter.com/home?status=http%3A//designresearch.space/%20by%20%40DesignJokes" target="_blank">Tweet it</a></li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//designresearch.space/" target="_blank">Share on Facebook</a></li>
                <li><a href="https://github.com/wentin/100-Day-of-Research" target="_blank">Star on github</a></li>
            </ul>
        </li>
        <li class="follow"><a href="https://twitter.com/DesignJokes" target="_blank">FOLLOW ME</a>
            <ul>
                <li><a href="https://twitter.com/DesignJokes" target="_blank">Twitter</a></li>
                <li><a href="https://github.com/wentin/" target="_blank">Github</a></li>
                <li><a href="http://codepen.io/wentin" target="_blank">Codepen</a></li>
                <li><a href="https://medium.com/@wenting_zhang" target="_blank">Medium</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div class="day" ng-repeat="dayData in data | filter:{number: dayId}:true">
  <div class="intro">
    <div class="month">
      {{dayData.month}}
    </div>
    <div class="date" ng-class="{weekend: dayData.weekend}">
      {{dayData.date}}
    </div>
    <h4>{{dayData.title}}</h4>
    <p>
      {{dayData.sum}}
    </p>
    <div class="pagination">
      <a class="prev" ng-href="#/day/{{prevDay}}" ng-if="prevDay">PREVIOUS DAY <span>or press ←</span></a>
      <a class="next" ng-href="#/day/{{nextDay}}" ng-if="nextDay<=data.length">NEXT DAY <span>or press →</span></a>
    </div>
  </div>
  <div class="level" ng-repeat="level in dayData.levels | filter: searchText">
    <div class="link" ng-class="{research: link.type=='research', tech: link.type=='tech', quote: link.type=='quote', em: link.em}" ng-repeat="link in level.links | filter: searchText" ng-mouseover="showConnected($event, link)">
      <span class="number">{{link.number}}</span>
      <span class="category">{{link.category}}</span>
      <div ng-if="link.type=='quote'">
        <div class="doubleQuoteLeft icon"><i></i></div>
        <figure>
          {{link.quote}}
          <figcaption><cite>
          <a href="{{link.cite.href}}" target="_blank">[{{link.cite.title}}]</a>;</cite> {{link.author.name}}</figcaption>
        </figure>
      </div>
      <div ng-if="link.type!='quote'">
        <h1>
          <a ng-href="{{link.href}}" target="_blank">{{link.title}}</a>
        </h1>
        <p>
          {{link.description}}
        </p>
      </div>
    </div>
  </div>
</div>